<style>
    .error {
        border: 1px solid #FF0000;
        /* Red outline */
        background-color: #FFC080;
        /* Slightly lighter red background */
        color: #FF0000;
        /* Corresponding font color (red) */
        padding: 1em;
    }

    input,
    label,
    select {
        font-family: Manrope, sans-serif;
        font-size: 22px;
    }


    tbody {
        width: 1000px;
        border: 1px solid red;
    }
</style>


{% if error %}
<div class="error">
    <p>{{ error }}</p>
</div>
{% endif %}

<p>
<form action="{{ returnPage }}" method="get">


    <table>
        <tr>
            <td width="20%">
                <label for="first">First Name:</label>
            </td>
            <td>
                <input type="text" id="first" name="first" value="{{ first is defined ? first : '' }}"
                    placeholder="Search first name" aria-label="Search by first name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="last">Last Name:</label>
            </td>
            <td>
                <input type="text" id="last" name="last" value="{{ last|default('') }}" placeholder="Search last name"
                    aria-label="Search by last name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="production">Production:</label>
            </td>
            <td>
                <input type="text" id="production" name="production" value="{{ production|default('') }}"
                    placeholder="Search by Production" aria-label="Search by production name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="team">Team:</label>
            </td>
            <td>
                <input type="text" id="team" name="team" value="{{ team|default('') }}" placeholder="Search by Team"
                    aria-label="Search by team">
            </td>
        </tr>
    </table>


    <br />
    <label for="sort">Sort By:</label>
    <select name="sort" id="" aria-live="polite">
        <option value="first">First</option>
        <option value="last">Last</option>
        <option value="year">Year</option>
        <option value="production">Production</option>
    </select>
    <input type="submit" value="Submit" aria-label="Submit the form">
</form>



<h3>Search Results</h3>

<p>There are {{ people|length }} records from this search.</p>
<table>

    <tr style="background-color: gray;">
        <th>First</th>
        <th>Last</th>
        <th>Team</th>
        <th>Role</th>
        <th>Grad</th>
        <th>Career</th>
        <th>Year</th>
        <th>Prod</th>
    </tr>

    {% for person in people %}
    {% set color = '' %}
    {% if loop.index0 % 2 == 0 %}
    {% set color = 'white' %}
    {% else %}
    {% set color = 'lightgray' %}
    {% endif %}
    <tr style="background-color: {{ color }};">

        <td>{{ person.First }}</td>
        <td>{{ person.Last }}</td>
        <td>{% if person.Team %}<a href="{{ returnPage }}?{% if first %}first={{ first }}&{% endif %}{% if last %}last={{ last }}&{% endif %}{% if production %}production={{ production }}&{% endif %}team={{ person.Team }}">{{ person.Team }}</a>
            {% else%}&nbsp;
            {% endif %}
        </td>
        <td>{{ person.Role }}</td>
        <td>{{ person.Grad }}</td>
        <td>{{ person.Career }}</td>
        <td>{{ person.Year }}</td>
        <td>{% if person.Production %}
            <a href="{{ returnPage }}?{% if first %}first={{ first }}&{% endif %}{% if last %}last={{ last }}&{% endif %}{% if team %}team={{ team }}&{% endif %}production={{ person.Production }}">{{ person.Production }}</a>
            {% else %} &nbsp;
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>





</p>