<p>


<p>


<p>
<form action="{{ returnPage }}" method="get">
    <input type="text" name="first" placeholder="Search first name" />
    <input type="text" name="last" placeholder="Search last name" />
    <input type="submit" value="Submit">
</form>




<h2>People</h2>
<p>There are {{ people|length }} people in the database.</p>
<table>

        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Role</th>
            <th>Grad</th>
            <th>Career</th>
            <th>Year</th>
            <th>Prod</th>
        </tr>

        {% for person in people %}
        <tr>
            <td>{{ person.First }} {{ person.Last }}</td>
            <td>{{ person.Team }}</td>
            <td>{{ person.Role }}</td>
            <td>{{ person.Grad }}</td>
            <td>{{ person.Career }}</td>
            <td>{{ person.Year }}</td>
            <td>{{ person.Production }}</td>
        </tr>
        {% endfor %}

</table>





</p>